* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #edefee;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 80%;
}

nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    background-color: darkolivegreen;
    height: 2.5rem;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 15px;
    font-size: 0.7em;
    
    
}

nav li {
    flex: 1;
    margin: auto;
}

.nav-logo {
    flex: 1;
    width: 1rem;
    padding-right: 1rem;
    
}

@media only screen and (max-width: 800px) {
    nav {
        font-size: 0.5em;
        padding: 0;
    }
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    flex: 1;
}

li:hover a:first-of-type {
    color: rgba(245, 191, 12, 1);
}

li:hover .nav-logo:first-of-type {
    transform: rotateZ(-30deg);
    transition: 0.5s;
}

.deal {
    margin-bottom: 1rem;
    background-image: url(./images/dealcoverpic.jpg);    
    background-size: 100%;
    background-repeat: repeat-x;
    background-blend-mode: darken;
    height: 19rem;
    border-radius: 15px;
    font-size: 2rem;
    
    
}

.deal > p {
    margin-right: 25rem;
    margin-left: 1rem;
    padding-top: 39px;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}


.content {
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.2rem;
    
    
}

article {
    border: darkolivegreen 1px solid;
    border-radius: 15px;
    padding: 1rem;   
    text-align: center; 

}

article:hover {
    background-color: rgba(245, 191, 12, 0.2);
    
}
p {
    text-align: left;
}

.pics {
    width: 100%;
    border-radius: 15px;
    /* margin-bottom: 1rem; */
    
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  
}

#copyright {
    text-align: end;
    
}

#footer-logo {
    width: 10%;
    justify-self: start;
    
}

button {
    padding: 15px 25px;
    border-radius: 15px;
}

button:hover {
    background-color: darkolivegreen;
    color: white;
    transform: rotate(360deg);
    transition: 0.4s;
}

